<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683073478014-9fm3eufp8rhc1ksd551ol18nod45iqe3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683073478014-9fm3eufp8rhc1ksd551ol18nod45iqe3</string>
	<key>API_KEY</key>
	<string>AIzaSyAqlrmtLLXQEDiAxsa19RmrN60qHDQlewI</string>
	<key>GCM_SENDER_ID</key>
	<string>683073478014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testpoj</string>
	<key>PROJECT_ID</key>
	<string>fish-f6e35</string>
	<key>STORAGE_BUCKET</key>
	<string>fish-f6e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683073478014:ios:0dcdb2989a1e79c9a9a72f</string>
</dict>
</plist>